.trends {
  padding: 1rem;
  color: white;
  background-color: #202327;
  border-radius: 5%;
  margin: 15px 0px;
}

.trends-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.trend-item {
  margin-bottom: 1.2rem;
}

.trend-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trend-category {
  font-size: 0.75rem;
  color: gray;
}

.more-icon {
  color: gray;
  cursor: pointer;
  font-size: 1rem;
}

.more-icon:hover {
  color: white;
}

.trend-title {
  font-weight: bold;
  font-size: 0.95rem;
  color: white;
  display: block;
  margin: 0.2rem 0;
}

.trend-tweets {
  font-size: 0.8rem;
  color: gray;
}
