.who-to-follow {
  padding: 1rem;
  color: white;
}

.follow-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}



.verified-icon {
  color: #1da1f2;
  font-size: 0.9rem;
  margin-left: 0.3rem;
  vertical-align: middle;
}
